*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}
section{
    width: 80%;
    min-height: 400px;
    min-width: 480px;
    max-width: 1080px;
    background-color: brown;
    margin: 0 auto;/*Esto quiere decir que de arriba a abajo
    no haya nada de margin pero de izquierda a derecha lo haga 
    de forma automática*/

}